<% content_for :javascript do %>  
  <%= javascript_include_tag "game/game_home" %>
<% end %>

<h1>Noooononono, torna alla homepage segui le indicazioni</h1>

<%= link_to "Torna a Home", root_path %>
