<div class="container" id="list-container">
  <h1>
    <% if admin_user_signed_in? %>
      Gestione animali
    <% else %>
      Elenco animali
    <% end %>
    <%= link_to "Torna alla Home", root_path, class: "btn btn-success home-button"%>
  </h1>
  
  <div class="row">
		<div id="element-list" class="col-md-6">
			<%= render @animals %>
		</div>
		<div id="new-element" class="col-md-6">
			<div id="animal_error_messages">
				<strong><%= Animal.error_message %></strong>
			</div>

			<%= render 'new_animal_ajax_links' if admin_user_signed_in? %>
		</div> 
  </div>
</div>
